@model EntityLayer.Concrete.Admin
@{
    ViewBag.Title = "AddAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Admin Ekleme</h2>
@using (Html.BeginForm("AddAdmin", "Authorization", FormMethod.Post))
{

    <div class="form-group">
        @Html.Label("Admin Adı")
        @Html.TextBoxFor(x => x.AdminName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.AdminName)
    </div>

    <div class="form-group">
        @Html.Label("Admin Pasword")
        @Html.TextBoxFor(x => x.AdminPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.AdminPassword)
    </div>
    <div class="form-group">
        @Html.Label("Admin Role")
        @Html.TextBoxFor(x => x.AdminRole, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.AdminRole)
    </div>
    <div class="form-group">
        @Html.Label("Admin aktifse seçiniz")
        <div class="col-md-10">
            <div class="checkbox">
                @Html.CheckBoxFor(model => model.Adminstatus)
                @Html.ValidationMessageFor(model => model.Adminstatus, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Role Kaydet " class="btn btn-primary" />
    </div>

}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
@if (ViewBag.Status == true)
{
    <script>
        swal({
            title: "Bilgi",
            text: "Kaydet İşlemi başarılı",
            icon: "success",
            buttons: "Tamam"
        })
        setTimeout(yonlendir, 3000);
        function yonlendir() {
            location.assign("/Authorization/Index");
        }
    </script>
}
