@model EntityLayer.Concrete.Heading
@{
    ViewBag.Title = "AddHeading";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Başlık Ekleme</h2>
@using (Html.BeginForm("AddHeading", "Heading", FormMethod.Post))
{

    <div class="form-group">
        @Html.Label("Başlık Adı Giriniz")
        @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.HeadingName)
    </div>

    <div class="form-group">
        @Html.Label("Kategori Adı Seçiniz")
        @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)ViewBag.Data, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CategoryID)
    </div>

    <div class="form-group">
        @Html.Label("Yazar Seçiniz")
        @Html.DropDownListFor(x => x.WriterID, (List<SelectListItem>)ViewBag.Writer, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.WriterID)
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.HeadingStatus, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.CheckBoxFor(model => model.HeadingStatus)
                @Html.ValidationMessageFor(model => model.HeadingStatus, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Başlık Oluştur" class="btn btn-primary" />
        </div>
    </div>
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
@if (ViewBag.Status == true)
{
    <script>
        swal({
            title: "Bilgi",
            text: "Ekleme İşlemi başarılı",
            icon: "success",
            buttons: "Tamam"
        })
        setTimeout(yonlendir, 3000);
        function yonlendir() {
            location.assign("/Heading/Index");
        }
    </script>
}
